<mat-card class="home mat-elevation-z3">
    <span class="center">
        <a>
            <img class="logo" src="assets/img/LogoTipo.png" alt="LogoTipo">
        </a>
    </span>
    <mat-card-title class="title">
        Bem vindo ao AjudaAí!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema desenvolvido para ajudar os estudantes da UFPB-Campus IV a encontrar os editais e auxílios com 
        mais facilidade, diminuindo o tempo de pesquisa assim como permitida os mesmos sanarem suas 
        possíveis dúvidas!
        <span>
            <a>
                <img class="logo" src="assets/img/img_rodape.png" alt="LogoTipo">
            </a>
        </span>
    </mat-card-subtitle>

    <span>
        Oque são Auxílios e Projetos? click aqui para mais
        
        <button mat-button (click)="openDialog()"><strong>INFORMAÇÕES</strong></button>
    </span>
    
    

</mat-card>