<p>
    <mat-toolbar  color="primary">
      <span>Seção Auxílios</span>
    </mat-toolbar>
    <button mat-button (click)="openDialog()">Documentos</button>
  </p>

<mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-subtitle><b>Tipo: Auxílio</b></mat-card-subtitle>
            <mat-card-title>Moradia<mat-icon aria-hidden="false" aria-label="Example home icon">cabin</mat-icon></mat-card-title>
            <mat-card-content>
              <p>{{moradiaSub}}</p>
              <p></p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button mat-button>Lista</button>
            </mat-card-actions>
          </mat-card>
        
    </mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-subtitle><b>Tipo: Auxílio</b></mat-card-subtitle>
            <mat-card-title>Restaurante Universitário<mat-icon aria-hidden="false" aria-label="Example home icon">restaurant</mat-icon></mat-card-title>
            <mat-card-content>
              <p>{{restauranteSub}}</p>
              <p></p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button mat-button>Lista</button>
                <button mat-button (click)="openDialog()">Documentos</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-subtitle><b>Tipo: Auxílio</b></mat-card-subtitle>
            <mat-card-title>Residência universitária<mat-icon aria-hidden="false" aria-label="Example home icon">house</mat-icon></mat-card-title>
            <mat-card-content>
              <p>{{residenciaSub}}</p>
              <p></p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button mat-button>Lista</button>
                <button mat-button (click)="openDialog()">Documentos</button>
            </mat-card-actions>
          </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-subtitle><b>Tipo: Auxílio</b></mat-card-subtitle>
            <mat-card-title>Transporte<mat-icon aria-hidden="false" aria-label="Example home icon">directions_bus</mat-icon></mat-card-title>
            <mat-card-content>
              <p>{{transporteSub}}</p>
              <p></p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button mat-button>Lista</button>
                <button mat-button (click)="openDialog()">Documentos</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-subtitle><b>Tipo: Auxílio</b></mat-card-subtitle>
            <mat-card-title>Pré-escolar<mat-icon aria-hidden="false" aria-label="Example home icon">escalator_warning</mat-icon></mat-card-title>
            <mat-card-content>
              <p>{{preescolarSub}}</p>
              <p></p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button mat-button>Lista</button>
                <button mat-button (click)="openDialog()">Documentos</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-subtitle><b>Tipo: Auxílio</b></mat-card-subtitle>
            <mat-card-title>Creche<mat-icon aria-hidden="false" aria-label="Example home icon">baby_changing_station</mat-icon></mat-card-title>
            <mat-card-content>
              <p>{{crecheSub}}</p>
              <p></p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button mat-button>Lista</button>
                <button mat-button (click)="openDialog()">Documentos</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>
    
  </mat-grid-list>
