<mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-subtitle><b>Tipo: Auxílio</b></mat-card-subtitle>
            <mat-card-title>Moradia</mat-card-title>
            <mat-card-content>
              <p>{{moradiaSub}}</p>
              <p></p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button mat-button>Lista</button>
              <button mat-button>Documentos</button>
            </mat-card-actions>
          </mat-card>
        
    </mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-subtitle><b>Tipo: Auxílio</b></mat-card-subtitle>
            <mat-card-title>Restaurante Universitário</mat-card-title>
            <mat-card-content>
              <p>{{restauranteSub}}</p>
              <p></p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button mat-button>Lista</button>
                <button mat-button>Documentos</button>
            </mat-card-actions>
          </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-subtitle><b>Tipo: Auxílio</b></mat-card-subtitle>
            <mat-card-title>Residência universitária</mat-card-title>
            <mat-card-content>
              <p>{{residenciaSub}}</p>
              <p></p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button mat-button>Lista</button>
                <button mat-button>Documentos</button>
            </mat-card-actions>
          </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-subtitle><b>Tipo: Auxílio</b></mat-card-subtitle>
            <mat-card-title>Transporte</mat-card-title>
            <mat-card-content>
              <p>{{transporteSub}}</p>
              <p></p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button mat-button>Lista</button>
                <button mat-button>Documentos</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-subtitle><b>Tipo: Auxílio</b></mat-card-subtitle>
            <mat-card-title>Pré-escolar</mat-card-title>
            <mat-card-content>
              <p>{{preescolarSub}}</p>
              <p></p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button mat-button>Lista</button>
                <button mat-button>Documentos</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-subtitle><b>Tipo: Auxílio</b></mat-card-subtitle>
            <mat-card-title>Creche</mat-card-title>
            <mat-card-content>
              <p>{{crecheSub}}</p>
              <p></p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button mat-button>Lista</button>
                <button mat-button>Documentos</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>
    
  </mat-grid-list>
