<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened
        fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <!-- Menu da navegação-->
            <a mat-list-item>
                <i class="material-icons">
                    home
                </i>
                Início
            </a>

            <a mat-list-item>
                <i class="material-icons">
                    savings
                </i>
                Auxílios
            </a>

            <a mat-list-item>
                <i class="material-icons">
                    source
                </i>
                Projetos
            </a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <!-- Link para o APP HOME do conteudo -->
        <app-home></app-home>
    </mat-sidenav-content>
</mat-sidenav-container>